body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position:relative;
  color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3 {
  margin: 0.5rem 0;
}
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.2rem;
}
h3 {
  font-size: 1rem;
}
a {
  text-decoration: none;
}

.text-right {
  text-align: right;
}

button {
  border: none;
  outline: 0;
 padding: 5px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  cursor: pointer;
}
button.add {
  background-color: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
button.remove {
  background-color: green;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
button.badge {
  background-color: rgb(109, 109, 226);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #ffffff;
  width: 1.5rem;
  margin: 5px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
 
  text-align: center;
  font-family: arial;
  width: 250px;
  height: 510px;
  border-radius: 15px;

}

.price {
  color: white;
  font-weight:50px;
}

.category{
  color: #000;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  
}

.card button:hover {
  opacity: 0.7;
}

.img1{
    width: 200px;
    height: 200px;
}

.h1 {
  display: flex;
  justify-content: space-around;
  background-color: rgb(15, 14, 14);
 
}

.Product1{
  display: flex;
  position: relative;
  justify-content: center;
}

.Product2{
position: absolute;
display: inline-flex;
}

.Basket{
display: flex;
justify-content: center;
margin-left: 110px;
margin-bottom: 200px;
}

.cart{
  background-color: rgb(109, 109, 226);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.cart2{
  background-color: rgb(75, 75, 87);
  padding: 20px;
  border-radius: 5px;
  margin: 10px;
}

.box{
  background-color: rgb(109, 109, 226);
  border-radius: 20px;
  overflow: hidden;
  padding: 30px;
  margin: 13px;
  align-content: center;
  display: inline-block;
  
}

.header{
  color: white;
}

.search1{
  display: flex;
  justify-content: center;
  
}

.search1 input{
  padding: 10px;
  border-radius: 10px;
  
}
.search1 label{
  margin-top: 5px;

}

